---
// Component imports
import {Layout} from "@globals"
import {ImageWithSound} from "../components/ImageWithSound";

const imageGroups = [
	{
		name: "Fordon",
		images: [
			{
				name: "Ambulance",
				url: "https://upload.wikimedia.org/wikipedia/commons/7/76/Swedish_ambulance_in_Lund.jpg",
				audio: ["https://upload.wikimedia.org/wikipedia/commons/8/81/Ambulance_Sounds2.wav", "audio/words/ambulans.mp3"]
			},
			{
				name: "Firetruck",
				url: "https://upload.wikimedia.org/wikipedia/commons/0/00/Scania_Firetruck.jpg",
				audio: "audio/words/brandbil.mp3"
			},
			{
				name: "Police car",
				url: "https://upload.wikimedia.org/wikipedia/commons/0/0e/PolicecarSweden.jpg",
			},
			{
				name: "Car",
				url: "https://upload.wikimedia.org/wikipedia/commons/7/75/2008_Volvo_V70%2C_Avesta.jpg",
				audio: "audio/car.mp3"
			},
			{
				name: "Boat",
				url: "https://upload.wikimedia.org/wikipedia/commons/d/d4/Motorboat_in_Oslofjord.JPG",
			},
			{
				name: "Plane",
				url: "https://upload.wikimedia.org/wikipedia/commons/e/ef/G-BGMP_Reims_F172_%40Cotswold_Airport%2C_July_2005.jpg",
			},
			{
				name: "Truck",
				url: "https://upload.wikimedia.org/wikipedia/commons/3/34/Renault_T-Truck_-_E_5958KC.jpg",
			},
			{
				name: "Helicopter",
				url: "https://upload.wikimedia.org/wikipedia/commons/7/78/LAPD_Bell_206_Jetranger.jpg",
				audio: ["https://upload.wikimedia.org/wikipedia/commons/f/fd/Helicopter_flying_overhead.wav", "audio/words/helikopter.mp3"]
			},
		]
	},
	{
		name: "Djur",
		images: [
			{
				name: "Cat",
				url: "https://upload.wikimedia.org/wikipedia/commons/b/b6/Felis_catus-cat_on_snow.jpg",
				audio: ["https://upload.wikimedia.org/wikipedia/commons/0/0c/Meow_domestic_cat.ogg", "audio/words/katt.mp3"]
			},
			{
				name: "Cow",
				url: "https://upload.wikimedia.org/wikipedia/commons/0/0c/Cow_female_black_white.jpg",
				audio: ["audio/cow.mp3", "audio/words/ko.mp3"]
			},
			{
				name: "Horse",
				url: "https://upload.wikimedia.org/wikipedia/commons/f/f7/Mangalarga_Marchador_Conforma%C3%A7%C3%A3o.jpg",
				audio: ["audio/horse.mp3", "audio/words/hast.mp3"]
			},
			{
				name: "Duck",
				url: "https://upload.wikimedia.org/wikipedia/commons/2/24/Male_mallard_duck_2.jpg",
				audio: ["audio/duck-short.mp3", "audio/words/anka.mp3"]
			},
			{
				name: "Dog",
				url: "https://upload.wikimedia.org/wikipedia/commons/b/bd/Golden_Retriever_Dukedestiny01_drvd.jpg",
				audio: ["https://upload.wikimedia.org/wikipedia/commons/a/a2/Barking_of_a_dog.ogg", "audio/words/hund.mp3"]
			},
			{
				name: "Fish",
				url: "https://upload.wikimedia.org/wikipedia/commons/d/d5/Detailed_underwater_photo_of_smallmouth_bass_fish_micropterus_dolomieu.jpg",
				audio: ["audio/bubble.mp3", "audio/words/fisk.mp3"]
			},
			{
				name: "Sheep",
				url: "https://upload.wikimedia.org/wikipedia/commons/9/96/Sheep_in_Iceland.jpg",
				audio: ["audio/sheep.mp3", "audio/words/far.mp3"]
			},
			{
				name: "Frog",
				url: "https://upload.wikimedia.org/wikipedia/commons/e/e2/Green_Tree_Frog_%28Litoria_caerulea%29.jpg",
				audio: ["https://upload.wikimedia.org/wikipedia/commons/9/9f/Single_Frog_Croak.oga", "audio/words/groda.mp3"]
			},
			{
				name: "Bunny",
				url: "https://upload.wikimedia.org/wikipedia/commons/f/fa/Bunny_rabbit_at_Alligator_Bay%2C_Beauvoir%2C_France.jpg",
				audio: "audio/words/kanin.mp3"
			},
		]
	},
	{
		name: "Andra saker",
		images: [
			{
				name: "Spade",
				url: "https://upload.wikimedia.org/wikipedia/commons/f/f4/Toy_spade_%28AM_1996.165.134-2%29.jpg",
				audio: "audio/words/spade.mp3"
			},
			{
				name: "Bucket",
				url: "https://upload.wikimedia.org/wikipedia/commons/3/31/Balde.PNG",
				audio: "audio/words/hink.mp3"
			},
		]
	}
]
---

<Layout title="Oskar lär sig">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<!-- Welcome -->
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">🟢 Oskar</h1>
				<p class="italic">
					Nu kör vi!
				</p>
			</div>
			<div>
				<ul class="">
					{imageGroups.map(group =>
						<li class="flex flex-col space-y-2">
							<h2 class="text-xl font-semibold">{group.name}</h2>
							<ul class="grid grid-cols-2 gap-4">
								{group.images.map(image =>
									<li class="flex flex-col items-center space-y-2">
										<ImageWithSound url={image.url} name={image.name} audio={image.audio}
														client:load/>
									</li>
								)}
							</ul>
						</li>
					)}
				</ul>
			</div>
		</div>

		<div class="flex justify-center pt-2">
			<span
				class="relative inline-flex items-center rounded-full bg-gray-100 p-4 transition duration-300 ease-in-out hover:-translate-y-2 focus:-translate-y-2 group hover:text-white focus:text-white"
			>
				<div class="flex items-center space-x-4 relative z-10">
					<span class="text-lg font-bold">Built for Oskar</span>
				</div>
				<div
					class="inline-block rounded-full absolute inset-0 bg-gradient-to-tr from-[#07f49e] to-[#42047e] opacity-0 group-hover:opacity-100 group-focus:opacity-100 duration-300 ease-in-out transition"
				>
				</div>
			</span>
		</div>
	</section>
</Layout>
